#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

/ {
    behaviors {
        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        tab_slide: behavior_sensor_rotate_tab_slide {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_TAB_SLIDE";
            #sensor-binding-cells = <0>;
            bindings = <&kp LA(LG(RIGHT_ARROW))>, <&kp LA(LG(LEFT_ARROW))>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE        &kp BACKSPACE
&kp Q             &kp W          &kp E             &kp R     &kp T        &kp TAB           &kp MINUS          &kp Y                   &kp U         &kp I         &kp O       &kp P
&kp A             &kp S          &kp D             &kp F     &kp G        &kp BACKSPACE     &kp SLASH          &kp H                   &kp J         &kp K         &kp L       &kp SEMICOLON
&mt LEFT_SHIFT Z  &kp X          &kp C             &kp V     &kp B        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp N                   &kp M         &kp COMMA     &kp PERIOD  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_ALT   &kp LEFT_COMMAND  &mkp MB1  &lt 4 SPACE  &lt 2 ESCAPE      &kp ENTER          &mt LEFT_GUI BACKSPACE  &lt 6 ESCAPE  &kp LEFT_ALT
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        MOUSE {
            bindings = <
&trans     &trans
&trans     &trans        &trans            &trans          &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans
&trans     &trans        &trans            &trans          &trans  &trans  &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans     &trans        &trans            &trans          &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans
&kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &trans  &trans  &trans  &mo 3   &trans    &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans
&trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans    &trans    &trans  &trans  &trans
&trans  &trans  &trans  &mkp MB2  &mkp MB3  &trans  &trans  &mkp MB1  &mkp MB2  &trans  &trans  &trans
&trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans    &trans    &trans  &trans  &trans
&trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans    &trans    &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        ARROW {
            bindings = <
&trans     &trans
&kp GRAVE  &kp LC(LS(TAB))         &kp LG(RIGHT)  &kp NUMBER_9             &kp NUMBER_0       &trans  &trans  &trans  &kp RC(LEFT_ARROW)  &kp UP_ARROW      &kp RC(RIGHT_ARROW)  &kp LG(P)
&kp TAB    &kp LA(LG(LEFT_ARROW))  &kp LG(LEFT)   &kp LG(LA(RIGHT_ARROW))  &kp LEFT_BRACKET   &trans  &trans  &trans  &kp LEFT_ARROW      &kp DOWN_ARROW    &kp RIGHT_ARROW      &kp LG(K)
&kp LCMD   &kp LG(LS(LEFT_ARROW))  &trans         &kp LG(LS(RIGHT_ARROW))  &kp RIGHT_BRACKET  &trans  &trans  &trans  &trans              &kp LC(UP_ARROW)  &trans               &kp LG(L)
&trans     &trans                  &trans         &trans                   &trans             &trans  &trans  &trans  &trans              &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        NUM {
            bindings = <
&trans          &trans
&kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5     &trans  &trans     &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9     &kp NUMBER_0
&trans          &trans        &trans        &trans        &trans     &trans  &trans     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp SQT
&kp LEFT_SHIFT  &trans        &trans        &trans        &kp SPACE  &trans  &trans     &kp MINUS       &kp EQUAL       &kp COMMA     &kp PERIOD       &mt RIGHT_SHIFT BACKSLASH
&trans          &trans        &trans        &trans        &trans     &trans  &kp GRAVE  &trans          &trans          &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        FUNCTION {
            bindings = <
&trans  &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9             &kp F10          &kp F11
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans             &trans           &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        BT {
            bindings = <
&trans         &trans
&kp LG(Q)      &kp LC(W)  &trans     &trans     &trans      &trans  &trans  &bt BT_PRV  &bt BT_NXT  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp LG(LS(Z))  &trans     &kp LC(C)  &trans     &trans      &trans  &trans  &trans      &trans      &trans        &trans        &trans
&kp LG(Z)      &kp LG(X)  &kp LG(C)  &kp LG(V)  &bt BT_NXT  &trans  &trans  &trans      &trans      &trans        &trans        &trans
&trans         &trans     &trans     &trans     &trans      &trans  &trans  &trans      &trans      &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };
    };
};
